.acceuil{
    font-size: 130px;
    padding-bottom: 120px;
    padding-top: 50px;
}
.para{
    padding-left: 20%;
    padding-right: 20%;
}
a{
    margin: 1%;
}
.regles{
    padding-bottom: 3%;
}
.bouttons{
    padding-top: 3%;
.jeux {
    border: solid;
    height: 900px;
}

.container {
    margin-top: 50px;
}

.colonne {
    border: solid;
    width: 25%;
    height: 100%;
    background-color: #70a1ff;
 
}

.case {
    border: solid;
    height: 148px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.493);
}

#pionJaune {
background-color: yellow;
}

#pionRouge {
background-color: red;
}