.jeux {
    border: solid;
    height: 900px;
}

.container {
    margin-top: 50px;
}

.colonne {
    border: solid;
    width: 25%;
    height: 100%;
    background-color: #70a1ff;
 
}

.case {
    border: solid;
    height: 148px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.493);
}

#pionJaune {
background-color: yellow;
}

#pionRouge {
background-color: red;
}