.background_main {
    background: url(./media/backgroundmain.jpg);
}

.acceuil{
    font-size: 130px;
    padding-bottom: 120px;
    padding-top: 50px;
}
.para{
    padding-left: 20%;
    padding-right: 20%;
}
a{
    margin: 1%;
}
.regles{
    padding-bottom: 3%;
}
.bouttons{
    padding-top: 3%;
}
.jeux {
    border: solid;
    border-radius: 5px;
    height: 700px;
}

.container {
    margin-top: 50px;
}

.colonne {
    border: solid;
    width: 25%;
    height: 100%;
    background-color: transparent;
 
}

.case {
    border: solid;
    margin: auto;
    height: 115px;
    width: 115px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.493);
}

#pionJaune {
background-image: url("pionjaune.png");
background-color:rgb(249, 207, 0);
background-size: 108px;
}

#pionRouge {
    background-image: url("pionrouge.png");
background-color:rgb(214, 0, 10);
background-size: 108px;
}

.joueurx {
    border: solid;
    background-color: #70a1ff;
    border-radius: 5px;
}

.joueur1 {
    background-color: red;
    border-radius: 5px;
    width: 25%;
    margin: auto;
    border: solid;
}

.joueur2 {
    background-color: yellow;
    border-radius: 5px;
    border: solid;
    width: 25%;
    margin: auto;
}

@media (min-width: 768px) and (max-width: 991px){
    .jeux {
        height: 100%;
        margin-bottom: 25px;
    }

    .joueurx{
        width: 85%;
        margin: auto;
        margin-top: 25px;
        font-size: 25px;
    }

    .joueur1 {
        font-size: 25px;
    }

    .joueur2 {
        font-size: 25px;
    }

    .case {
        border: solid;
        margin: auto;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.493);
    }

    #pionJaune {
        background-image: url("pionjaune.png");
        background-color:rgb(249, 207, 0);
        background-size: 72px;
        }
        
        #pionRouge {
            background-image: url("pionrouge.png");
        background-color:rgb(214, 0, 10);
        background-size: 72px;
        }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .container{
        margin-top: 25px;
    }

    #titre{
        margin-bottom: 25px!important;
    }
    .jeux {
        height: 100%;
        margin-bottom: 25px;
    }

    .joueurx{
        width: 85%;        
        margin: auto;
        font-size: 25px;
    }

    .joueur1 {
        font-size: 25px;
        margin-top: 55px;
    }

    .joueur2 {
        font-size: 25px;
        margin-top: 55px;
    }

    .case {
        border: solid;
        margin: auto;
        height: 66px;
        width: 66px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.493);
    }

    #pionJaune {
        background-image: url("pionjaune.png");
        background-color:rgb(249, 207, 0);
        background-size: 59px;
        }
        
        #pionRouge {
            background-image: url("pionrouge.png");
        background-color:rgb(214, 0, 10);
        background-size: 59px;
        }
}

@media (max-width: 575px) {
    .container{
        margin-top: 25px;
    }

    #titre{
        margin-bottom: 25px!important;
    }
    .jeux {
        height: 100%;
        margin-bottom: 25px;
    }

    .joueurx{
        width: 85%;        
        margin: auto;
        font-size: 25px;
    }

    .joueur1 {
        font-size: 25px;
        margin-top: 55px;
    }

    .joueur2 {
        font-size: 25px;
        margin-top: 55px;
    }

    .case {
        border: solid;
        margin: auto;
        height: 66px;
        width: 66px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.493);
    }

    #pionJaune {
        background-image: url("pionjaune.png");
        background-color:rgb(249, 207, 0);
        background-size: 59px;
        }
        
        #pionRouge {
            background-image: url("pionrouge.png");
        background-color:rgb(214, 0, 10);
        background-size: 59px;
        }
}
body {
}

.case{
    background-color: rgba(255, 255, 255, 0.637);
    border: solid;
    margin: auto;
    height: 115px;
    width: 115px;
    border-radius: 50%;
}
.pionJaune{
    background: url(./media/pionjaune.png);
    background-size: 109px;
    background-repeat: no-repeat;
    border: solid;
    margin: auto;
    height: 115px;
    width: 115px;
    border-radius: 50%;
}
.pionRouge{
    background: url(./media/pionrouge.png);
    background-size: 109px;
    background-repeat: no-repeat;
    border: solid;
    margin: auto;
    height: 115px;
    width: 115px;
    border-radius: 50%;
}

#grille {
    border-radius: 10px;
    background-color: #1e3799;
    width: 60%;
    border: solid;
    margin: auto;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 15px;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    
}

.acceuil{
    background-color: rgb(0, 0, 0,.5);
    font-size: 130px;
    color: antiquewhite;
    padding-bottom: 120px;
    padding-top: 50px;
    border-radius: 0px 0px 20px 20px;
}

.bouttons{
    padding-top: 10%;
    font-size: 10%;
    
}

#background{
    position: fixed;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    overflow: hidden;
}

.background_video {
    position: absolute;
    top: 0;
    left: -300;
    width: 100%;
    height: 100%;
    z-index: -100;

}

.regles{
background-color: rgb(0, 0, 0,.5);
color: antiquewhite;
margin-left: 400px;
border-radius: 20px 20px 20px 20px;
}

.para{
    background-color: rgb(0, 0, 0,.5);  
    color: antiquewhite;
    margin-top: 180px;
    font-size: 19px;
}

.stylebutton{
        border-radius:12px 0 12px 0;
        background: #478bf9;
        border:none;
        color:#fff;
        font:bold 12px Verdana;
        padding:6px 10px 6px 10px;
        font-size: 35px;
}






/* .acceuil{
    font-size: 130px;
    padding-bottom: 120px;
    padding-top: 50px;
}
.para{
    padding-left: 20%;
    padding-right: 20%;
}
a{
    margin: 1%;
}
.regles{
    padding-bottom: 3%;
}
.bouttons{
    padding-top: 3%;
}
.jeux {
    border: solid;
    height: 700px;
}

.container {
    margin-top: 50px;
}

.colonne {
    border: solid;
    width: 25%;
    height: 100%;
    background-color: #70a1ff;
 
}

.case {
    border: solid;
    margin: auto;
    height: 115px;
    width: 115px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.493);
}

#pionJaune {
background-image: url("pionjaune.png");
background-color:rgb(249, 207, 0);
background-size: 108px;
}

#pionRouge {
    background-image: url("pionrouge.png");
background-color:rgb(214, 0, 10);
background-size: 108px;


}

.joueurx {
    border: solid;
    background-color: #70a1ff;
}

.joueur1 {
    background-color: red;
    border: solid;
}

.joueur2 {
    background-color: yellow;
    border: solid;
} */
